# <문제1>

In [44]:
import pandas as pd

#데이터프레임생성하기

df=pd.read_csv("/workspaces/github-demo/data/weather.csv")
df

# 내 버젼
# weather_samples=pd.read_csv("/workspaces/github-demo/data/weather.csv")
# dfweather=pd.DataFrame(weather_samples)
# dfweather

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0     2010-08-01      28.7         8.3         3.4
1     2010-08-02      25.2         8.7         3.8
2     2010-08-03      22.1         6.3         2.9
3     2010-08-04      25.3         6.6         4.2
4     2010-08-05      27.2         9.1         5.6
...          ...       ...         ...         ...
3648  2020-07-27      22.1         4.2         1.7
3649  2020-07-28      21.9         4.5         1.6
3650  2020-07-29      21.6         3.2         1.0
3651  2020-07-30      22.9         9.7         2.4
3652  2020-07-31      25.7         4.8         2.5

[3653 rows x 4 columns]

In [45]:
#첫 5행 출력하기

df.head()

# dfweather.head()

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
0  2010-08-01      28.7         8.3         3.4
1  2010-08-02      25.2         8.7         3.8
2  2010-08-03      22.1         6.3         2.9
3  2010-08-04      25.3         6.6         4.2
4  2010-08-05      27.2         9.1         5.6

In [46]:

df.info()

# dfweather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3653 entries, 0 to 3652
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   일시          3653 non-null   object
 1   평균기온(°C)    3653 non-null   float64
 2   최대 풍속(m/s)  3649 non-null   float64
 3   평균 풍속(m/s)  3647 non-null   float64
dtypes: float64(3), object(1)
memory usage: 114.3+ KB

In [11]:
# dfweather.describe()

          평균기온(°C)   최대 풍속(m/s)   평균 풍속(m/s)
count  3653.000000  3649.000000  3647.000000
mean     12.942102     7.911099     3.936441
std       8.538507     3.029862     1.888473
min      -9.000000     2.000000     0.200000
25%       5.400000     5.700000     2.500000
50%      13.800000     7.600000     3.600000
75%      20.100000     9.700000     5.000000
max      31.300000    26.000000    14.900000

# <문제2>

In [60]:

tem=df['평균기온(°C)']
print("평균:",tem.mean())
print("최대값:",tem.max())
print("최소값:",tem.min())

# dfweather['평균기온(°C)'].mean()

# dfweather['평균기온(°C)'].max()

# dfweather['평균기온(°C)'].min()

평균: 12.942102381604162
최대값: 31.3
최소값: -9.0

# <문제3>

In [66]:
dfweather['섭씨온도'] = dfweather['평균기온(°C)'].apply(lambda x: (x-32)*5/9)
dfweather.head()
# del dfweather['섭씨온도']
# dfweather.head()



# dfweather.rename(columns={'평균기온(°C)': '섭씨온도(°C)'}, inplace=True)
# dfweather

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)    섭싸온도      섭씨온도
0  2010-08-01      28.7         8.3         3.4 -2.0625 -1.833333
1  2010-08-02      25.2         8.7         3.8 -4.2500 -3.777778
2  2010-08-03      22.1         6.3         2.9 -6.1875 -5.500000
3  2010-08-04      25.3         6.6         4.2 -4.1875 -3.722222
4  2010-08-05      27.2         9.1         5.6 -3.0000 -2.666667

# <문제 4>

In [72]:
filtered_df =dfweather[dfweather['평균기온(°C)'] >= 20]
filtered_df.head()

# dfweather.head(dfweather['평균기온(°C)'] >= 20)

           일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)    섭싸온도      섭씨온도
0  2010-08-01      28.7         8.3         3.4 -2.0625 -1.833333
1  2010-08-02      25.2         8.7         3.8 -4.2500 -3.777778
2  2010-08-03      22.1         6.3         2.9 -6.1875 -5.500000
3  2010-08-04      25.3         6.6         4.2 -4.1875 -3.722222
4  2010-08-05      27.2         9.1         5.6 -3.0000 -2.666667

# <문제 5>

In [79]:
Tem=df.sort_values(by='평균기온(°C)', ascending=False)
Tem.head()

              일시  평균기온(°C)  최대 풍속(m/s)  평균 풍속(m/s)
1103  2013-08-08      31.3         7.8         4.6
1104  2013-08-09      30.6         9.9         6.4
1105  2013-08-10      30.6         7.4         3.8
2913  2018-07-23      30.5         6.5         1.6
2925  2018-08-04      30.3         5.8         3.0

# <문제 6>

In [84]:
df['연도']=pd.to_datetime(df['일시']).dt.year
group=df.groupby('연도')
group2=group['평균기온(°C)'].mean()
group2.head(10)

연도
2010    15.238562
2011    12.073425
2012    11.892896
2013    12.795068
2014    12.844110
2015    13.162466
2016    13.243443
2017    13.111233
2018    13.041644
2019    13.767671
Name: 평균기온(°C), dtype: float64